<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">

    <!--Console Color-->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <!--log path-->
    <springProperty name="filePath" source="logging.file.path"/>    <!--파일 경로 (yml 위치) -->
    <springProperty scope="context" name="projectName" source="spring.application.name"/>   <!--프로젝트 이름 (yml 위치) -->


    <property name="logback" value="logback"/>  <!-- log 저장 최종 폴더 -->
    <property name="logdir" value="${filePath}/${projectName}/${logback}"/>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logdir}\logback-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] ${PID:- } --- [%thread] [%logger{0}:%line] - %msg%n</pattern>
        </encoder>
    </appender>r

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr([%d{yyyy-MM-dd HH:mm:ss.SSS}]){magenta} %clr([%-5level]) %clr(${PID:- }){blue} %clr(---){faint} %clr([%thread]){faint} %clr([%logger{0}:%line]){cyan} : %msg %n</pattern>
        </encoder>
    </appender>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{36} - %msg%n</Pattern>-->
<!--        </layout>-->
<!--    </appender>-->



    <root level="INFO">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>